<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <h3><%= message %></h3>
  <%- include('../partials/map.ejs') %> 
  
  <% if (user){  %>
    
  <% } %>
  
  
  
  <%- include('../partials/upload-graffs.ejs') %>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/message.ejs') %>
</html>
